
<div class="hero-unit">
  <h1><% channel %></h1>

  <p>
    <a class="btn btn-primary btn-large">
      Subscribe via YouTube
    </a>
<h2>
<% current.title %> :
</h2>
<iframe width="853" height="480" src="http://www.youtube.com/embed/<% current.video_id %>" frameborder="0" allowfullscreen></iframe>

<p>
<% current.description %>
</p>
  </p>
</div>

