<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/bootstrap/css/bootstrap.css" rel="stylesheet">

<style>

body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
  background-color: #2A333C;
    font-size: 15px;
}
body {
      margin: 0;
      font-family: Georgia,Utopia,Palatino,'Palatino Linotype',serif;
      font-size: 15px;
      line-height: 20px;
      color: #ECE9D7;
      background-color: #2A333C;
}

.btn-primary, .btn-primary:hover {
            -webkit-box-shadow: -2px 2px 0 #612C0C;
            -moz-box-shadow: -2px 2px 0 #612c0c;
            box-shadow: -2px 2px 0 #612C0C;
}

.btn-primary {
            background-color: #E37E23;
            background-image: -moz-linear-gradient(top, #E36B23, #E39B23);
            background-image: -ms-linear-gradient(top, #E36B23, #E39B23);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E36B23), to(#E39B23));
            background-image: -webkit-linear-gradient(top, #E36B23, #E39B23);
            background-image: -o-linear-gradient(top, #E36B23, #E39B23);
            background-image: linear-gradient(top, #E36B23, #E39B23);
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e36b23', endColorstr='#e39b23', GradientType=0);
            border-color: #E39B23 #E39B23 #A56F15;
            border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
            filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
           
.btn-primary, .btn-primary:hover, .btn-warning, .btn-warning:hover, .btn-danger, .btn-danger:hover, .btn-success, .btn-success:hover, .btn-info, .btn-info:hover, .btn-inverse, .btn-inverse:hover {
      color: #FFF;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}


.btn-large {
            padding: 9px 14px;
            font-size: 17px;
            line-height: normal;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
}
.btn, .btn:hover {
      text-shadow: none;
      background-image: none;
      -webkit-box-shadow: -2px 2px 0 #333;
      -moz-box-shadow: -2px 2px 0 #333333;
      box-shadow: -2px 2px 0 #333;
      border: none;
}
.btn {
      border-color: #CCC;
      border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

  

a {
      color: #E36B23;
      text-decoration: none;
}

h1, h2, legend {
      text-shadow: -2px 2px 0 #612C0C;
      }
      h2 {
      font-size: 24px;
      line-height: 40px;
      }
      h1, h2, h3, h4, h5, h6 {
      margin: 0;
      font-family: Georgia,Utopia,Palatino,'Palatino Linotype',serif;
      font-weight: bold;
      color: #E36B23;
      text-rendering: optimizelegibility;
}
 well, .hero-unit {
      background-color: #45515F;
      border: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
}
.hero-unit {
      padding: 60px;
      margin-bottom: 30px;
      background-color: #45515F;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
}
.hero-unit h1 {
        color: #E36B23;
        line-height: 2em;
        }
        h1, h2, legend {
        text-shadow: -2px 2px 0 #612C0C;
}
h1, h2, h3, h4, h5, h6 {
        margin: 0;
        font-family: System;
        font-weight: bold;
        color: #E36B23;
        text-rendering: optimizelegibility;
}     

.hero-unit p {
          font-size: 18px;
          font-weight: 200;
          line-height: 30px;
          color: inherit;
}
p {
          margin: 0 0 10px;
}
user agent stylesheetp {
          display: block;
          -webkit-margin-before: 1em;
          -webkit-margin-after: 1em;
          -webkit-margin-start: 0px;
          -webkit-margin-end: 0px;
}


.navbar-fixed-top {
  top: 0;
}


.navbar-inner {
  min-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(0, 0, 0, 0.48);
  background-image: -moz-linear-gradient(top, #2A333C, #2A333C);
  background-image: -ms-linear-gradient(top, #2A333C, #2A333C);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2A333C), to(#2A333C));
  background-image: -webkit-linear-gradient(top, #2A333C, #2A333C);
  background-image: -o-linear-gradient(top, #2A333C, #2A333C);
  background-image: linear-gradient(top, #2A333C, #2A333C);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2a333c', endColorstr='#2a333c', GradientType=0);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .25), inset 0 -1px 0 rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .25), inset 0 -1px 0 rgba(0, 0, 0, .1);
}


.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 1170px;
 }
.navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 940px;
}
.navbar .container {
    width: auto;
}
.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 940px;
}


.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 1170px;
}
.container {
    margin-right: auto;
    margin-left: auto;
}
.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 940px;
}

.navbar .brand {
  display: block;
  float: left;
  padding: 8px 20px 12px;
  margin-left: -40px;
  font-size: 30px;
  font-weight: 200;
  line-height: 1;
  color: #E36B23;
}



.navbar .btn-navbar {
      background-color: #45515F;
      border-color: transparent;
}


.navbar .navbar-inner {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-image: none;
} 
  
.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
  padding-left: 0;
  padding-right: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
  
user agent stylesheetdiv {
  display: block;
}



.navbar .btn-navbar {
      display: none;
      float: right;
      padding: 7px 10px;
      margin-left: 5px;
      margin-right: 5px;
      background-color: #2A333C;
      background-image: -moz-linear-gradient(top, #2A333C, #2A333C);
      background-image: -ms-linear-gradient(top, #2A333C, #2A333C);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2A333C), to(#2A333C));
      background-image: -webkit-linear-gradient(top, #2A333C, #2A333C);
      background-image: -o-linear-gradient(top, #2A333C, #2A333C);
      background-image: linear-gradient(top, #2A333C, #2A333C);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2a333c', endColorstr='#2a333c', GradientType=0);
      border-color: #2A333C #2A333C #0B0D0F;
      border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
      filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
      -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .075);
      -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .075);
}
.navbar .btn {
      display: inline-block;
      padding: 4px 10px 4px;
      margin: 5px 5px 6px;
      line-height: 20px;
 }
.navbar .btn, .navbar .btn-group {
      margin-top: 5px;
}
.navbar .nav {
      position: relative;
      left: 0;
      display: block;
      float: left;
      margin: 0 10px 0 0;
}
.nav {
      margin-left: 0;
      margin-bottom: 20px;
      list-style: none;
}
ul {
      list-style: disc;
 }






/*    

      
      
      
      
      
      
      
      
      

      
      ul, ol {
      padding: 0;
      margin: 0 0 10px 25px;
      }
      user agent stylesheetul, menu, dir {
      display: block;
      list-style-type: disc;
      -webkit-margin-before: 1em;
      -webkit-margin-after: 1em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      -webkit-padding-start: 40px;
      }
      
      .navbar .nav > li {
      display: block;
      float: left;
      }
      li {
      line-height: 20px;
      }
      user agent stylesheetli {
      display: list-item;
      text-align: -webkit-match-parent;
      }
    navbar .nav.pull-right {
    margin-left: 10px;
    margin-right: 0;
    }
    .navbar .nav.pull-right {
    float: right;
    }
    .navbar .nav {
    position: relative;
    left: 0;
    display: block;
    float: left;
    margin: 0 10px 0 0;
    }
    .pull-right {
    float: right;
    }
    .pull-right {
    float: right;
    }
    .nav {
    margin-left: 0;
    margin-bottom: 20px;
    list-style: none;
    }
    ul {
    list-style: disc;
    }
    ul, ol {
    padding: 0;
    margin: 0 0 10px 25px;
    }
    user agent stylesheetul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
    }
      








.container-fluid {
padding-right: 20px;
padding-left: 20px;
}
user agent stylesheetdiv {
display: block;
}

  .row-fluid {
  width: 100%;
  }
    .row-fluid [class*="span"]:first-child {
    margin-left: 0;
    }
    .row-fluid .span1 {
    width: 5.982905983%;
     }
    .row-fluid [class*="span"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 28px;
    margin-left: 2.564102564%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    }
     
        
          
            
            
      
      .row {
      margin-left: -30px;
      }
        .row-fluid [class*="span"]:first-child {
        margin-left: 0;
        }
        .row-fluid .span4 {
        width: 31.623931624%;
        }
        bootstrap-responsive.css:437@media (min-width: 1200px)
        .row-fluid [class*="span"] {
        display: block;
        float: left;
        width: 100%;
        min-height: 28px;
        margin-left: 2.564102564%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        }

 
 
 

*\





</style>

<link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

<link rel="shortcut icon" href="/bootstrap/ico/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/bootstrap/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/bootstrap/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/bootstrap/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="/bootstrap/ico/apple-touch-icon-57-precomposed.png">

<title><% page_title %></title>
<meta name="description" content="<% description %>">
<meta name="author" content="<% author %>">

</head>
<body>
<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/"><% brand %></a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="/videos">Videos</a></li>
			  <% IF playlists %>
                 <li><a href="/playlists">Playlists</a></li>
			  <% END %>
            </ul>
            <ul class="nav pull-right">
              <li><a href="/about">About</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span1">
    </div>
    <div class="span9">
      <% content %>
    </div>
    <div class="span2">
       <br></br>
        <h1>Most viewed videos</h1>
         <% IF show_thumbnails %>
         <% FOR f IN films %>
		   <% IF loop.index < 5 %>
		     <p>
               <a href="/v/<% f.video_id %>"><img src="<% f.thumbnails.0.url %>" /><br /><% f.title %></a>
               <% f.view_count %> views<br />
		     </p>
           <% END %>
         <% END %>
		<% END %>
    </div>
  </div>
</div>

<script src="/bootstrap/js/jquery-1.7.2.min.js"></script>
<!--
<script src="/bootstrap/js/bootstrap-transition.js"></script>
<script src="/bootstrap/js/bootstrap-alert.js"></script>
<script src="/bootstrap/js/bootstrap-modal.js"></script>
<script src="/bootstrap/js/bootstrap-dropdown.js"></script>
<script src="/bootstrap/js/bootstrap-scrollspy.js"></script>
<script src="/bootstrap/js/bootstrap-tab.js"></script>
<script src="/bootstrap/js/bootstrap-tooltip.js"></script>
<script src="/bootstrap/js/bootstrap-popover.js"></script>
<script src="/bootstrap/js/bootstrap-button.js"></script>
<script src="/bootstrap/js/bootstrap-collapse.js"></script>
-->
<script src="/bootstrap/js/bootstrap-carousel.js"></script>
<!--
<script src="/bootstrap/js/bootstrap-typeahead.js"></script>
-->

<script>
$('.carousel').carousel();
</script>

<% IF adwords %>
<!-- Google Adwords -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '<% adwords %>']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<% END %>

<% IF clicky %>
<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(<% clicky %>); }catch(e){}</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/<% clicky %>ns.gif" /></p></noscript>
<% END %>

</body>
</html>


